<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Score</th>
        <th>DOB</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= best_in_place user, :first_name %></td>
          <td><%= best_in_place user, :last_name %></td>
          <td><%= best_in_place user, :score %></td>
          <td><%= best_in_place user, :dob %></td>
          <td><%= best_in_place user, :status, as: 'select', collection: User.statuses, selected: user.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New user", new_user_path %>
